body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.6s;
}

/* Fundo reage quando liga */
body:has(input:checked) {
  background: linear-gradient(135deg, #020617, #1d4ed8);
}

h1 {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* SWITCH */
.switch {
  position: relative;
  width: 100px;
  height: 50px;
}

.switch input {
  display: none;
}

/* BASE VIDRO */
.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:
    inset 0 0 10px rgba(255,255,255,0.25),
    0 8px 20px rgba(0,0,0,0.4);

  transition: 0.4s;
}

/* TEXTO ON OFF */
.slider .text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 16px;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  opacity: 0.5;
  transition: 0.3s;
}

/* BOLINHA */
.slider::before {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  left: 6px;
  top: 5px;
  border-radius: 50%;

  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.6);

  box-shadow:
    inset 0 0 8px rgba(255,255,255,0.8),
    0 4px 10px rgba(0,0,0,0.5);

  transition: 0.4s;
}

/* BRILHO ANIMADO */
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: -70%;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.7),
    transparent
  );
  transition: 0.7s;
}

/* LIGADO */
input:checked + .slider {
  background: rgba(0, 85, 255, 0.25);
  box-shadow:
    inset 0 0 12px rgba(0, 17, 255, 0.3),
    0 0 18px rgba(0, 85, 255, 0.7),
    0 8px 20px rgba(0,0,0,0.4);
}

input:checked + .slider .text {
  opacity: 1;
}

/* mover bolinha + gelatina */
input:checked + .slider::before {
  transform: translateX(50px) scale(1.08);
  background: rgba(0, 85, 255, 0.45);
}

/* brilho passa */
input:checked + .slider::after {
  left: 130%;
}

/* clique */
.slider:active::before {
  transform: scale(0.95);
}